---
title: "Colors"
tags: designSystem 
permalink: "/design-system/colors/index.html"
layout: "layouts/design-system/design-system-base.njk"
prevImage: "/assets/img/design-system/preview/color-system"
---

<div class="main">
    <main>
        <div class="container-tb">
            <h2 class="design-system_title buffer-xs">
                Colors
            </h2>
            <div class="spacer-20"></div>

            <div class="blocks-container clearfix">
                <div class="border float-left buffer-l block-6-ph">
                    <div style="background-color: #bf7cfb">
                        <div class="buffer-l">
                        <p class="color-palette__label color-white">
                            Purple Light
                        </p>
                        <div class="spacer-40"></div>
                        <p class="color-palette__hex color-white">
                            #bf7cfb
                        </p>                              
                        </div>
                    </div>
                </div>
                

                <div class="border float-left buffer-l block-6-ph">
                    <div style="background-color: rgb(162, 56, 255)">
                        <div class="buffer-l">
                        <p class="color-palette__label color-white">
                            Purple
                        </p>
                        <div class="spacer-40"></div>
                        <p class="color-palette__hex color-white">
                            rgb(162, 56, 255)
                        </p>                              
                        </div>
                    </div>
                </div>

                <div class="border float-left buffer-l block-6-ph">
                    <div style="background-color: rgb(125, 43, 196)">
                        <div class="buffer-l">
                        <p class="color-palette__label color-white">
                            Purple Dark
                        </p>
                        <div class="spacer-40"></div>
                        <p class="color-palette__hex color-white">
                            rgb(125, 43, 196)
                        </p>                              
                        </div>
                    </div>
                </div>

                <div class="border float-left buffer-l block-6-ph">
                    <div style="background-color: #232323; border: 1px solid white;">
                        <div class="buffer-l">
                        <p class="color-palette__label color-white">
                            Gray
                        </p>
                        <div class="spacer-40"></div>
                        <p class="color-palette__hex color-white">
                            #232323
                        </p>                              
                        </div>
                    </div>
                </div>

                <div class="border float-left buffer-l block-6-ph">
                    <div style="background-color: #000000">
                        <div class="buffer-l">
                        <p class="color-palette__label color-white">
                            Black
                        </p>
                        <div class="spacer-40"></div>
                        <p class="color-palette__hex color-white">
                            #000000
                        </p>                              
                        </div>
                    </div>
                </div>

                <div class="border float-left buffer-l block-6-ph">
                    <div style="background-color: #ffffff">
                        <div class="buffer-l">
                        <p class="color-palette__label color-black">
                            White
                        </p>
                        <div class="spacer-40"></div>
                        <p class="color-palette__hex color-black">
                            #ffffff
                        </p>                              
                        </div>
                    </div>
                </div>
    
            </div>
            

        </div>
    </main>
</div>
