---
title: "Icons & images"
tags: designSystem 
permalink: "/design-system/icons&images/index.html"
layout: "layouts/design-system/design-system-base.njk"
prevImage: "/assets/img/design-system/preview/typography"
---

<div class="main">
    <main>
        <div class="container-tb">
            <h2 class="design-system_title buffer-xs">
                Logo
            </h2>
            <div class="spacer-20"></div>

            <div class="container-tb blocks-container clearfix">
                <div class="ui-item border float-left buffer-l block-6-ph">
                    <img src="/assets/img/logo.svg" alt="logo">
                </div>
                
            </div>

            <div class="spacer-40"></div>

            <h2 class="design-system_title buffer-xs">
                Images
            </h2>
            <div class="spacer-20"></div>

            <div class="container-tb clearfix">
                <div class="">
                    <div class="container-tb blocks-container clearfix">
                        <div class="ui-item border float-left buffer-l block-6-ph">
                            <img src="../../assets/img/intro__bg.webp" alt="" style="width: 100%;">
                        </div>
        
                        <div class="ui-item border float-left buffer-l block-6-ph">
                            <img src="../../assets/img/intro__image.svg" alt="">
                        </div>

                        <div class="ui-item border float-left buffer-l block-6-ph">
                            <img src="../../assets/img/square.webp" alt="">
                        </div>

                        <div class="ui-item border float-left buffer-l block-6-ph">
                            <img src="../../assets/img/bunnies-with-baloons.svg" alt="">
                        </div>

                        <div class="ui-item border float-left buffer-l block-6-ph">
                            <img src="../../assets/img/bunnie-teacher.svg" alt="">
                        </div>

                        <div class="ui-item border float-left buffer-l block-6-ph">
                            <img src="../../assets/img/twitter.svg" alt="">
                        </div>

                        <div class="ui-item border float-left buffer-l block-6-ph">
                            <img src="../../assets/img/discord.svg" alt="">
                        </div>

                        <div class="ui-item border float-left buffer-l block-6-ph">
                            <img src="../../assets/img/reddit.svg" alt="">
                        </div>

                        <div class="ui-item border float-left buffer-l block-6-ph">
                            <img src="../../assets/img/join__bg.png" alt="">
                        </div>

                        <div class="ui-item border float-left buffer-l block-6-ph">
                            <img src="../../assets/img/join1.svg" alt="">
                        </div>

                        <div class="ui-item border float-left buffer-l block-6-ph">
                            <img src="../../assets/img/join2.svg" alt="">
                        </div>

                        <div class="ui-item border float-left buffer-l block-6-ph">
                            <img src="../../assets/img/join3.svg" alt="">
                        </div>

                        <div class="ui-item border float-left buffer-l block-6-ph">
                            <img src="../../assets/img/join4.svg" alt="">
                        </div>

                        <div class="ui-item border float-left buffer-l block-6-ph">
                            <img src="../../assets/img/quantum-hop.svg" alt="">
                        </div>

                        <div class="ui-item border float-left buffer-l block-6-ph">
                            <img src="../../assets/img/tokenomics.svg" alt="">
                        </div>

                        <div class="ui-item border float-left buffer-l block-6-ph">
                            <img src="../../assets/img/roadmap1.svg" alt="">
                        </div>

                        <div class="ui-item border float-left buffer-l block-6-ph">
                            <img src="../../assets/img/roadmap2.svg" alt="">
                        </div>

                        <div class="ui-item border float-left buffer-l block-6-ph">
                            <img src="../../assets/img/roadmap3.svg" alt="">
                        </div>
                        
                        <div class="ui-item border float-left buffer-l block-6-ph">
                            <img src="../../assets/img/roadmap4.svg" alt="">
                        </div>

                        <div class="ui-item border float-left buffer-l block-6-ph">
                            <img src="../../assets/img/gitbook.svg" alt="">
                        </div>

                        <div class="ui-item border float-left buffer-l block-6-ph">
                            <img src="../../assets/img/github.svg" alt="">
                        </div>
                        
                        <div class="ui-item border float-left buffer-l block-6-ph">
                            <img src="../../assets/img/medium.svg" alt="">
                        </div>
                       
                    </div>
                    
                </div>

            </div>
                
        </div>
    </main>
</div>