---
title: "Typography"
tags: designSystem 
permalink: "/design-system/typography/index.html"
layout: "layouts/design-system/design-system-base.njk"
prevImage: "/assets/img/design-system/preview/typography"
---

<div class="main">
    <main>
        <div class="container-tb">
            <h2 class="design-system_title buffer-xs">
                Typography
            </h2>
            <div class="spacer-20"></div>

            <div class="">
                <div class="border buffer-m">
                    <h2 class="typograpy-block__title buffer-m h1 poppins black">H1</h2>
                    
                    <div class="typography-block__description blocks-container clearfix">
                        <p class="typography-block__description-item buffer-m float-left">
                            <span>Typeface:</span>Poppins
                        </p>
                        <p class="typography-block__description-item buffer-m float-left">
                            <span>Weight:</span>Bold (700)
                        </p>
                        <p class="typography-block__description-item buffer-m float-left">
                            <span>Size:</span>75px
                        </p>
                    </div>
                </div>
    
                <div class="border buffer-m">
                    <h2 class="typograpy-block__title buffer-m text poppins black">text-poppins</h2>
                    
                    <div class="typography-block__description blocks-container clearfix">
                        <p class="typography-block__description-item buffer-m float-left">
                            <span>Typeface:</span>Poppins
                        </p>
                        <p class="typography-block__description-item buffer-m float-left">
                            <span>Weight:</span>Bold (700)
                        </p>
                        <p class="typography-block__description-item buffer-m float-left">
                            <span>Size:</span>25px
                        </p>
                    </div>
                </div>

                <div class="border buffer-m">
                    <h2 class="typograpy-block__title buffer-m text quest black">text-questrial</h2>
                    
                    <div class="typography-block__description blocks-container clearfix">
                        <p class="typography-block__description-item buffer-m float-left">
                            <span>Typeface:</span>Questrial
                        </p>
                        <p class="typography-block__description-item buffer-m float-left">
                            <span>Weight:</span>Bold (400)
                        </p>
                        <p class="typography-block__description-item buffer-m float-left">
                            <span>Size:</span>25px
                        </p>
                    </div>
                </div> 
                
                <div class="border buffer-m">
                    <h2 class="typograpy-block__title buffer-m text-s quest black">text-s</h2>
                    
                    <div class="typography-block__description blocks-container clearfix">
                        <p class="typography-block__description-item buffer-m float-left">
                            <span>Typeface:</span>Questrial
                        </p>
                        <p class="typography-block__description-item buffer-m float-left">
                            <span>Weight:</span>Bold (400)
                        </p>
                        <p class="typography-block__description-item buffer-m float-left">
                            <span>Size:</span>16px
                        </p>
                    </div>
                </div>

                <div class="border buffer-m">
                    <h2 class="typograpy-block__title buffer-m heading-small quest black">heading-small</h2>
                    
                    <div class="typography-block__description blocks-container clearfix">
                        <p class="typography-block__description-item buffer-m float-left">
                            <span>Typeface:</span>Questrial
                        </p>
                        <p class="typography-block__description-item buffer-m float-left">
                            <span>Weight:</span>Bold (400)
                        </p>
                        <p class="typography-block__description-item buffer-m float-left">
                            <span>Size:</span>14px
                        </p>
                    </div>
                </div>                
    
            </div>
            
        </div>
    </main>
</div>