---
title: "UI"
tags: designSystem 
permalink: "/design-system/ui/index.html"
layout: "layouts/design-system/design-system-base.njk"
prevImage: "/assets/img/design-system/preview/ui-kit"
---


<div class="main">
    <main>
        <div class="container-tb">
            <h2 class="design-system_title">Link</h2>
            <div class="spacer-20"></div>

            <div class="container-tb blocks-container clearfix">

                <div class="ui-item border float-left buffer-l block-6-ph">
                    <a href="#" class="link color-white">rest</a>
                </div>

                <div class="ui-item border float-left buffer-l block-6-ph">
                    <a href="#" class="link hover color-white">hover</a>
                </div>

                <div class="ui-item border float-left buffer-l block-6-ph">
                    <a href="#" class="link focus color-white">focused</a>
                </div>

                <div class="ui-item border float-left buffer-l block-6-ph">
                    <a href="#" class="link active color-white">pressed</a>
                </div>

                <div class="ui-item border float-left buffer-l block-6-ph">
                    <a href="#" class="link current color-white">visited</a>
                </div>

            </div>
            <div class="spacer-20"></div>
            <div class="spacer-20"></div>

        
            <h2 class="design-system_title">Button</h2>
            <div class="spacer-20"></div>

            <div class="container-tb blocks-container clearfix">

                <div class="ui-item border float-left buffer-l block-6-ph">
                    <button>rest</button>
                </div>

                <div class="ui-item border float-left buffer-l block-6-ph">
                    <button class="hover">hover</button>
                </div>

                <div class="ui-item border float-left buffer-l block-6-ph">
                    <button class="focus">focused</button>
                </div>

                <div class="ui-item border float-left buffer-l block-6-ph">
                    <button class="active">pressed</button>
                </div>

                <div class="ui-item border float-left buffer-l block-6-ph">
                    <button disabled >disabled</button>
                </div>                

            </div>
            <div class="spacer-20"></div>
            <div class="spacer-20"></div>

        </div>
    </main>
</div>