{% extends "layouts/base.njk" %}


{% set customScriptParam %}

<script src="/assets/js/script.js"></script>

<!-- Header -->
<script src="/assets/js/utils/window-width.js"></script>
<script src="/assets/js/utils/is-media-queries-supported.js"></script>
<script src="/assets/js/utils/support-css.js"></script>
<script src="/assets/js/utils/keycodes.js"></script>
<script src="/assets/js/utils/get-elements-by-class-name.js"></script>
<script src="/assets/js/utils/index-of.js"></script>
<script src="/assets/js/submenu.js"></script>

<!-- Sticky -->
<script src="/assets/js/sticky.js"></script>

<!-- Anchor detection -->
<script src="/assets/js/anchor-detection.js"></script>

<!-- Counter script -->
<script src="/assets/js/animation-counter.js"></script>
{% endset %}


{% set customStyles %}
{% endset %}
