
<footer>
    <div class="footer">
        <div class="container-ds text-center">
            <a href="https://github.com/BunnyNomics101" class="buffer d-inline-block">
                <div class="image-block-inside d-inline-block">
                    {% pictureSvgPng "src/assets/img/github.svg", "to our github", "32", "32" %}
                </div>
            </a>
            <a href="https://bunnynomics-nomnom.gitbook.io/internal-wiki/" class="buffer d-inline-block">
                <div class="image-block-inside d-inline-block">
                    {% pictureSvgPng "src/assets/img/gitbook.svg", "to our gitbook", "32", "32" %}
                </div>
            </a>
            <a href="https://medium.com/@bunnynomics101" class="buffer d-inline-block">
                <div class="image-block-inside d-inline-block">
                    {% pictureSvgPng "src/assets/img/medium.svg", "to our medium", "32", "32" %}
                </div>
            </a>
            
        </div>
        <div class="spacer-30"></div>
    </div>
</footer>
